.header {
	background: var(--main-bg);
	min-height: auto;
	height: max-content;
	padding: 24px 24px 0px;
}

.header__title{
	font-family: Inter;
	font-size: 50px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px; 
	margin: 40px 0;
	color: var(--font-color);
}

.header_inner{
	background: var(--grey-bg);
	filter: none;
}

.header__top{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.header__logo{
	fill: var(--font-color);
}

@media screen and (max-width: 400px){
	.header{
		padding: 16px 16px 29px;
	}

	.header_inner{
		padding: 16px;
	}

	.header__title {
		font-size: 28px;
		font-weight: 400;
		line-height: 38px;
		margin: 40px 0;
		color: var(--input-text-color);
	}

	.header__top{
		justify-content: center;
	}
}