.header {
	background: #FFF;
	min-height: auto;
	height: max-content;
	padding: 24px;
	filter: drop-shadow(0px 2px 4px rgba(33, 36, 41, 0.05));
}

.header__title{
	font-family: Inter;
	font-size: 50px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px; 
	margin: 40px 0;
	color: var(--black);
}

.header_inner{
	background: var(--content-background);
	filter: none;
}

@media screen and (max-width: 400px){
	.header{
		padding: 16px 16px 29px;
	}

	.header_inner{
		padding: 16px;
	}

	.header__title {
		font-size: 28px;
		font-weight: 400;
		line-height: 38px;
		margin: 40px 0;
		color: var(--grey-4);
	}

	.header__logo{
		text-align: center;
	}
}