.header {
	background: #FFF;
	min-height: 82px;
	height: max-content;
}

.header__title{
	font-family: Inter;
	font-size: 50px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px; 
	margin: 40px 0;
	color: var(--black);
}