/* Стилизация кнопки */
.button{
	color: #FFF;
    background: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    min-width: 182px;
	padding: 15px 0px 14px 0px;
    border: none;
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button:disabled{
	opacity: 0.5;
	pointer-events: none;
}

.button_primary{
	background: var(--primary);
}

.button_primary:hover, .button_primary:active{
	background: var(--primary_hover);
}

.button_secondary{
	background: var(--secondary);
}

.button_secondary:hover, .button_secondary:active{
	background: var(--secondary_hover);
}

.button_alternate{
	border: 1px solid var(--grey-3);
	color: var(--gray-4);
}

.button_alternate:hover, .button_alternate:active{
	border-color: var(--black);
}