.histogram{
    color: var(--font-color);
    font-family: Inter;
    background: var(--main-bg);
    border: 1px solid var(--text-secondary);
    border-radius: 8px;
    padding: 0.762em 1.143em 1.143em;
}

.histogram__header{
    display:flex;
    justify-content: space-between;
}

.histogram__count{
    font-size: 0.952em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.238em;
    padding-top: 0.286em;
}

.histogram__title{
    font-size: 0.762em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.143em;
}

.histogram__link{
    color: var(--primary);
    font-size: 0.762em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.143em;
    text-decoration: none;
    margin-top: 0.143em;
}

.histogram__wrapper{
    height: 2.381em;
    display: flex;
    gap: 1px;
    align-items: flex-end;
    margin-top: 1.857em;
}

.histogram_card{
    width: 300px;
}

.histogram__column{
    background: var(--primary);
    flex: 1;
}

@media screen and (max-width:400px) {
    .histogram_card{
        width:145px;
    }
}