.footer {
	background: var(--main-bg);
	padding: 71px 30px 136px;
}

.footer_inner{
	padding: 56px;
	background: var(--grey-bg);
}

.footer__title{
	color: var(--font-color);
	font-family: Inter;
	font-size: 38px;
	font-style: normal;
	font-weight: 500;
	line-height: 48px;
	text-align: center;
	margin-bottom: 32px;
}

.footer__title_small{
	color: var(--text-secondary);
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.48px;
	text-transform: uppercase;
	margin: 0px;
}

.footer__text{
	color: var(--font-color);
	text-align: center;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	max-width: 640px;
	margin: 0 auto;
}