.content{
	background: var(--grey-bg);
	padding: 68px 24px;
}

.content_inner{
	padding: 36px 0;
}

.content__cards{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(164px,350px));
	justify-content: center;
	gap: 30px;
}

@media screen and (max-width:400px) {
	.content{
		padding: 24px 0;
	}

	.content__cards {
		grid-template-columns: repeat(auto-fill, minmax(164px,1fr));
		gap: 16px;
	}

	.content_inner{
		background: var(--main-bg);
	}

	.content_inner{
		padding: 32px 0;
	}
}